* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background: white;
    padding: 30px;
    width: 400px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h1 {
    margin-bottom: 25px;
}

.option {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    background: #eee;
    cursor: pointer;
    border-radius: 5px;
}

.option:hover {
    background: #ddd;
}

#nextBtn {
    margin-top: 15px;
    padding: 10px 25px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
